body{
    font-family:'Orbitron';
    color:rgb(23, 23, 23);
    background-color:blanchedalmond;
}

header{
    position: fixed;
    z-index: 1;
    display: block;
    background-color: rgb(255, 235, 205, 50%);
    width: 100%;
    top: 0;
    
}

li{
    display: inline-block;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    color: rgb(23, 23, 23);
}

a{
    color:rgb(23, 23, 23);
}

a:visited{
    color:rgb(23, 23, 23);
}

main{
    padding-top: 80px;
}

h1{
    color: rgb(23, 23, 23);
    font-weight: bold;
    font-size: 85px;
    text-align:center;
}

p{
    text-align:left;
    padding-left:50px;
    width:50%
}

.candy{
    padding-top: 8%;
}